.dark {
  background-color: black;
  box-shadow: 3px 5px 5px lightgray;
  border: 2px solid white;
}

.light {
  background-color: white;
  box-shadow: 3px 5px 5px darkgray;
  border: 2px solid black;
}

.local-storage {
  width: 777px;
  height: 499px;
  border-radius: 1.5rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 3rem;

  transition-property: background-color, border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
