.dark {
  background-color: black;
  border-color: white;
}

.light {
  background-color: white;
  border-color: black;
}

.signal {
  width: 222px;
  height: 111px;
  border-radius: 1.5rem;
  transition-property: background-color, border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
